<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Content/Site.css" />
</head>
<body>

	<div ng-app="personnelDirectory" ng-controller="personnelListController">
		<h1 class='title'><i class="empire-icon"></i> Galactic Empire Personnel Directory</h1>
		<h2><a href="/help">Help</a></h2>
		<ng-view></ng-view>

		<script type="text/ng-template" id="personnel-list">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personnel in personnelDirectory.personnelList">
						<td><img ng-src="{{personnel.image}}" class="thumbnail" /></td>
						<td><a ng-href="#/personnel/{{personnel.id}}">{{personnel.firstName}} {{personnel.lastName}}</a></td>
						<td>{{personnel.title}}</td>
					</tr>
				<tbody>
			</table>

		</script>

		<script type="text/ng-template" id="personnel-details">
			<div ng-hide="personnelDirectory.personnel.isEditting">
				<div>
					<img src="{{personnelDirectory.personnel.image}}" />
				</div>
				<div>
					<strong>Name: </strong>
					{{personnelDirectory.personnel.firstName}} {{personnelDirectory.personnel.lastName}}
				</div>
				<div>
					<strong>Title:</strong>
					{{personnelDirectory.personnel.title}}
				</div>
				<div>
					<strong>Is Active:</strong>
					{{personnelDirectory.personnel.active}}
				</div>
				<div>
					<a ng-href="{{personnelDirectory.personnel.detailsUrl}}">View Details</a>
				</div>
				<button ng-click="personnelDirectory.editPersonnel(personnelDirectory.personnel)">Edit</button>
			</div>

			<div ng-show="personnelDirectory.personnel.isEditting">
				<div>
					<img ng-src="{{personnelDirectory.personnel.image}}" />
				</div>
				<div>
					<strong>First Name: </strong>
					<input type="text" ng-model="personnelDirectory.personnel.firstName" />
				</div>
				<div>
					<strong>Last Name: </strong>
					<input type="text" ng-model="personnelDirectory.personnel.lastName" />
				</div>
				<div>
					<strong>Title:</strong>
					<!--<input type="text" ng-model="personnel.title" />-->
					<select ng-options="title for title in personnelDirectory.titles" ng-model="personnelDirectory.personnel.title"></select>
				</div>
				<div>
					<strong>Is Active:</strong>
					<input type="checkbox" ng-model="personnelDirectory.personnel.active" />
				</div>
				<div>
					<a ng-href="{{personnelDirectory.personnel.detailsUrls}}">View Details</a>
				</div>
				<button ng-click="personnelDirectory.savePersonnel(personnelDirectory.personnel)">Save</button>
			</div>

		</script>

		<script type="text/ng-template" id="help">
			Help Me Obi Wan Kenobi!
		</script>
	</div>

	<script src="scripts/angular.js">
	</script>
	<script src="scripts/angular-route.js"></script>
	<script src="scripts/angular-resource.js"></script>
	<script>
		angular.module('personnelDirectory', ['ngRoute', 'ngResource']);

		angular.module('personnelDirectory').config(['$routeProvider', function ($routeProvider) {
			$routeProvider.
				when('/personnel', {
					controller: 'personnelListController',
					templateUrl: 'personnel-list'
				}).
				when('/personnel/:id', {
					controller: 'personnelDetailsController',
					templateUrl: 'personnel-details'
				}).
				when('/help', {
					controller: 'helpController',
					templateUrl: 'help'
				}).
				otherwise({
					redirectTo: '/personnel'
				});
		}]);

		angular.module('personnelDirectory').controller('personnelListController', ['$scope', '$http', '$resource', function ($scope, $http, $resource) {
			var personnelDirectory = {};

			$http.get('/api/Personnel').success(function(personnelList) {
				personnelDirectory.personnelList = personnelList;
			});

			//var personnelResource = $resource('/api/Personnel');

			//personnelDirectory.personnelList = personnelResource.query();

			$scope.personnelDirectory = personnelDirectory;
		}]);


		angular.module('personnelDirectory').controller('personnelDetailsController', ['$scope', '$routeParams', '$http', '$resource', function ($scope, $routeParams, $http, $resource) {
			var personnelId = $routeParams.id;
			var personnelDirectory = {};

			$http.get('/api/Personnel/' + personnelId).success(function (personnel) {
				personnelDirectory.personnel = personnel;
			});

			$http.get('/api/Title').success(function (titles) {
				personnelDirectory.titles = titles;
			});

			personnelDirectory.savePersonnel = function (personnel) {
				$http.post('/api/Personnel/' + personnelId, personnel).success(function (personnel) {
					personnelDirectory.personnel = personnel;
					personnel.isEditting = false;
				});
			};

			//var personnelResource = $resource('/api/Personnel/:id', { id: 'id' });
			//var titleResource = $resource('/api/Title');

			//personnelDirectory.personnel = personnelResource.get({id: personnelId});
			//personnelDirectory.titles = titleResource.query();

			//personnelDirectory.savePersonnel = function (personnel) {
			//	personnel.$save().$promise.then(function (personnel) {
			//		personnelDirectory.personnel = personnel;
			//		personnel.isEditting = false;
			//	});
			//};


			personnelDirectory.editPersonnel = function (personnel) {
				personnel.isEditting = true;
			};

			


			$scope.personnelDirectory = personnelDirectory;

		}]);

		angular.module('personnelDirectory').controller('helpController', [function() {

		}]);
	</script>
</body>

</html>
