<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Content/Site.css" />
</head>
<body>

	<div ng-app="personnelDirectory" ng-controller="personnelListController">
		<h1 class='title'><i class="empire-icon"></i> Galactic Empire Personnel Directory</h1>
		<h2><a href="#/help">Help</a></h2>
		<ng-view></ng-view>
		
		<script type="text/ng-template" id="personnel-list">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personnel in personnelDirectory.personnelList">
						<td><img ng-src="{{personnel.image}}" class="thumbnail" /></td>
						<td><a ng-href="#/personnel/{{personnel.id}}">{{personnel.firstName}} {{personnel.lastName}}</a></td>
						<td>{{personnel.title}}</td>
					</tr>
				<tbody>
			</table>

		</script>

		<script type="text/ng-template" id="personnel-details">
			<div ng-hide="personnelDirectory.personnel.isEditting">
				<div>
					<img src="{{personnelDirectory.personnel.image}}" />
				</div>
				<div>
					<strong>Name: </strong>
					{{personnelDirectory.personnel.firstName}} {{personnelDirectory.personnel.lastName}}
				</div>
				<div>
					<strong>Title:</strong>
					{{personnelDirectory.personnel.title}}
				</div>
				<div>
					<strong>Is Active:</strong>
					{{personnelDirectory.personnel.active}}
				</div>
				<div>
					<a ng-href="{{personnelDirectory.personnel.detailsUrl}}">View Details</a>
				</div>
				<button ng-click="personnelDirectory.editPersonnel(personnelDirectory.personnel)">Edit</button>
			</div>

			<div ng-show="personnelDirectory.personnel.isEditting">
				<div>
					<img ng-src="{{personnelDirectory.personnel.image}}" />
				</div>
				<div>
					<strong>First Name: </strong>
					<input type="text" ng-model="personnelDirectory.personnel.firstName" />
				</div>
				<div>
					<strong>Last Name: </strong>
					<input type="text" ng-model="personnelDirectory.personnel.lastName" />
				</div>
				<div>
					<strong>Title:</strong>
					<!--<input type="text" ng-model="personnel.title" />-->
					<select ng-options="title for title in personnelDirectory.titles" ng-model="personnelDirectory.personnel.title"></select>
				</div>
				<div>
					<strong>Is Active:</strong>
					<input type="checkbox" ng-model="personnelDirectory.personnel.active" />
				</div>
				<div>
					<a ng-href="{{personnelDirectory.personnel.detailsUrls}}">View Details</a>
				</div>
				<button ng-click="personnelDirectory.savePersonnel(personnelDirectory.personnel)">Save</button>
			</div>
		
		</script>
		
		<script type="text/ng-template" id="help">
			Help Me Obi Wan Kenobi!
		</script>
</div>

	<script src="scripts/angular.js"></script>
	<script src="scripts/angular-route.js"></script>
	<script>
		angular.module('personnelDirectory', ['ngRoute']);

		angular.module('personnelDirectory').config(['$routeProvider', function ($routeProvider) {
			$routeProvider.
				when('/personnel', {
					controller: 'personnelListController',
					templateUrl: 'personnel-list'
				}).
				when('/personnel/:id', {
					controller: 'personnelDetailsController',
					templateUrl: 'personnel-details'
				}).
				when('/help', {
					controller: 'helpController',
					templateUrl: 'help'
				}).
				otherwise({
					redirectTo: '/personnel'
				});
		}]);

		angular.module('personnelDirectory').controller('personnelListController', ['$scope', function ($scope) {
			var personnelDirectory = {
				personnelList: [{
					firstName: 'Lorth',
					lastName: 'Needa',
					title: 'Captain',
					image: '/images/needa.jpg',
					active: true,
					id: 5,
					detailsUrl: 'http://www.starwars.com/databank/captain-needa'
				}, {
					firstName: 'Darth',
					lastName: 'Vader',
					title: 'Sith Lord',
					image: '/images/vader.jpg',
					active: true,
					id: 2,
					detailsUrl: 'http://www.starwars.com/databank/darth-vader'
				}, {
					firstName: 'Kendal',
					lastName: 'Ozzel',
					title: 'Admiral',
					image: '/images/ozzel.jpg',
					active: true,
					id: 3,
					detailsUrl: 'http://www.starwars.com/databank/admiral-ozzel'
				}, {
					firstName: 'Firmus',
					lastName: 'Piett',
					title: 'Captain',
					image: '/images/piett.jpg',
					active: true,
					id: 4,
					detailsUrl: 'http://www.starwars.com/databank/admiral-piett'
				}, {
					firstName: 'Wilhuff',
					lastName: 'Tarkin',
					title: 'Grand Moff',
					image: '/images/tarkin.jpg',
					active: false,
					id: 1,
					detailsUrl: 'http://www.starwars.com/databank/tarkin'
				}]
			};

			personnelDirectory.titles = ['Captain', 'Admiral', 'Sith Lord', 'Grand Moff'];

			$scope.personnelDirectory = personnelDirectory;
		}]);


		angular.module('personnelDirectory').controller('personnelDetailsController', ['$scope', '$routeParams', function ($scope, $routeParams) {
			var personnelId = $routeParams.id;
			var personnelDirectory = {
				personnelList: [{
					firstName: 'Lorth',
					lastName: 'Needa',
					title: 'Captain',
					image: '/images/needa.jpg',
					active: true,
					id: 5,
					detailsUrl: 'http://www.starwars.com/databank/captain-needa'
				}, {
					firstName: 'Darth',
					lastName: 'Vader',
					title: 'Sith Lord',
					image: '/images/vader.jpg',
					active: true,
					id: 2,
					detailsUrl: 'http://www.starwars.com/databank/darth-vader'
				}, {
					firstName: 'Kendal',
					lastName: 'Ozzel',
					title: 'Admiral',
					image: '/images/ozzel.jpg',
					active: true,
					id: 3,
					detailsUrl: 'http://www.starwars.com/databank/admiral-ozzel'
				}, {
					firstName: 'Firmus',
					lastName: 'Piett',
					title: 'Captain',
					image: '/images/piett.jpg',
					active: true,
					id: 4,
					detailsUrl: 'http://www.starwars.com/databank/admiral-piett'
				}, {
					firstName: 'Wilhuff',
					lastName: 'Tarkin',
					title: 'Grand Moff',
					image: '/images/tarkin.jpg',
					active: false,
					id: 1,
					detailsUrl: 'http://www.starwars.com/databank/tarkin'
				}]
			};

			var personnel = personnelDirectory.personnelList.filter(function (p) {
				return p.id == personnelId;
			})[0];

			personnelDirectory.titles = ['Captain', 'Admiral', 'Sith Lord', 'Grand Moff'];

			personnelDirectory.editPersonnel = function (personnel) {
				personnel.isEditting = true;
			};

			personnelDirectory.savePersonnel = function (personnel) {
				personnel.isEditting = false;
			};

			personnelDirectory.personnel = personnel;
			$scope.personnelDirectory = personnelDirectory;

		}]);

		angular.module('personnelDirectory').controller('helpController', [function() {

		}]);
	</script>
</body>

</html>
