<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Content/Site.css" />
</head>
<body>

	<div ng-app="personnelDirectory" ng-controller="personnelListController">
		<h1 class='title'><i class="empire-icon"></i> Galactic Empire Personnel Directory</h1>
		<ng-view></ng-view>
		
		<script type="text/ng-template" id="personnel-list">
			hello world
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="personnel in personnelDirectory.personnelList">
						<td><img ng-src="{{personnel.image}}" /></td>
						<td><a ng-href="#/Personnel/{{personnel.id}}">{{personnel.firstName}} {{personnel.lastName}}</a></td>
						<td>{{personnel.title}}</td>
					</tr>
				<tbody>
			</table>

		</script>

		<script type="text/ng-template" id="personnel-details">
			details
			<div ng-hide="personnel.isEditting">
				<div>
					<img ng-src="{{personnel.image}}" />
				</div>
				<div>
					<strong>Name: </strong>
					{{personnel.firstName}} {{personnel.lastName}}
				</div>
				<div>
					<strong>Title:</strong>
					{{personnel.title}}
				</div>
				<div>
					<strong>Status:</strong>
					{{personnel.status.name}}
				</div>
				<div>
					<a href="{{personnel.detailsUrls}}">View Details</a>
				</div>
				<button ng-click="editPersonnel(personnel)">Edit</button>
			</div>



			<div ng-show="personnel.isEditting">
				<div>
					<img ng-src="{{personnel.image}}" />
				</div>
				<div>
					<strong>First Name: </strong>
					<input type="text" ng-model="personnel.firstName" />
				</div>
				<div>
					<strong>Last Name: </strong>
					<input type="text" ng-model="personnel.lastName" />
				</div>
				<div>
					<strong>Title:</strong>
					<input type="text" ng-model="personnel.title" />
				</div>
				<div>
					<strong>Status:</strong>
					<select ng-model="personnel.status" ng-options="status as status.name for status in statuses"></select>
				</div>
				<div>
					<a href="{{personnetl.detailsUrls}}">View Details</a>
				</div>
				<button ng-click="savePersonnel(personnel)">Save</button>
			</div>
		
		</script>
		
		<script type="text/ng-template" id="help">
			Help Me Obi Wan Kenobi!
		
		</script>

</div>

	



	<script src="scripts/angular.js">
	</script>
	<script src="scripts/angular-route.js"></script>
	<script>
		angular.module('personnelDirectory', ['ngRoute']);

		angular.module('personnelDirectory').config(['$routeProvider', function ($routeProvider) {
			$routeProvider.
				when('/personnel', {
					controller: 'personnelListController',
					templateUrl: 'personnel-list'
				}).
				when('/personnel/:id', {
					controller: 'personnelDetailsController',
					templateUrl: 'personnel-details'
				}).
				when('/help', {
					controller: 'helpController',
					templateUrl: 'help'
				}).
				otherwise({
					redirectTo: '/personnel'
				});
		}]);

		angular.module('personnelDirectory').controller('personnelListController', ['$scope', function ($scope) {
			var personnelDirectory = {
				personnelList: [{
					firstName: 'Lorth',
					lastName: 'Needa',
					title: 'Captain',
					image: '/images/needa.jpg',
					active: true,
					detailsUrl: 'http://www.starwars.com/databank/captain-needa'
				}, {
					firstName: 'Darth',
					lastName: 'Vader',
					title: 'Sith Lord',
					image: '/images/vader.jpg',
					active: true,
					detailsUrl: 'http://www.starwars.com/databank/darth-vader'
				}, {
					firstName: 'Kendal',
					lastName: 'Ozzel',
					title: 'Admiral',
					image: '/images/ozzel.jpg',
					active: true,
					detailsUrl: 'http://www.starwars.com/databank/admiral-ozzel'
				}, {
					firstName: 'Firmus',
					lastName: 'Piett',
					title: 'Captain',
					image: '/images/piett.jpg',
					active: true,
					detailsUrl: 'http://www.starwars.com/databank/admiral-piett'
				}, {
					firstName: 'Wilhuff',
					lastName: 'Tarkin',
					title: 'Grand Moff',
					image: '/images/tarkin.jpg',
					active: false,
					detailsUrl: 'http://www.starwars.com/databank/tarkin'
				}]
			};

			personnelDirectory.titles = ['Captain', 'Admiral', 'Sith Lord', 'Grand Moff'];

			$scope.personnelDirectory = personnelDirectory;
		}]);


		angular.module('personnelDirectory').controller('personnelDetailsController', ['$scope', function ($scope) {
			var personnelList = [
				{
					id: 1,
					firstName: 'Darth',
					lastName: 'Vader',
					title: 'Sith Lord',
					image: 'someurltoanimage',
					detailsUrl: 'somelinktodetails',
					status: statuses[0]
				}
			];
			$scope.personnel = personnelList[0];

		}]);

		angular.module('personnelDirectory').controller('helpController', [function($scope) {

		}]);
	</script>
</body>

</html>
